<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list</title>
    <link rel="stylesheet" href="/Resources/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background: linear-gradient(to right, #1f1c2c, #928dab)">

    
    <div class="container justify-content-center align-items-center d-flex" style="height: 100vh;" >
        
        <div class="card bg-dark" style="width: 20rem; overflow: auto; height: 20rem; ">
            <div class="card-header">
                <h1 class="fw-bold text-center" style="color: white;" >To-DO list</h1>
            </div>
<!--edit text, notes section-->
            <%for (i=0;i<ejes.length;i++){%>
                
                <div class="card-title  bg-light  m-1 d-flex taskcard">
                    <form action="checked" method="post">
                        <input type="hidden" name="oldcheckName" value="<%= ejes[i].name %>">
                         <input type="checkbox"  id="task" name="checkbox1" class="m-2 listimg check" onchange="this.form.submit()" <% if (ejes[i].check) { %> checked <% } %> >
                        

                    </form>
                    
                    <form action="delete" method="post" class="delete">
                        <input type="hidden" name="index" value="<%=ejes[i].name%>">
                        <button type="submit"  class="bg-transparent" style="outline: none; border: none;" ><img src="/Resources/images/bin (2).png" alt="" class="m-2 listimg binimg" data-index="<%= i %>"></button>
                    </form> 
                 
                    
                    <img src="/Resources/images/pencil.png" alt="" class="m-2 listimg edit"> 
                    <label for="task" class="editable" name="TextBox" style="<% if (ejes[i].check) { %>text-decoration: line-through;<% } %>"> <%=ejes[i].name%> </label>
                    
                    <form action="submit-edit" method="post" class="submit-edit" style="display: none;">
                        <input type="hidden" name="oldName" value="<%=ejes[i].name%>">
                        <input type="hidden" name="newName"  value="<%=ejes[i].name%>" class="text_editting" required>
                        <button type="submit"  class="bg-transparent submit submit-editbtn" style="outline: none; border: none;"><img src="/Resources/images/add.png" alt="add image" id="addimg"></button> 


                    </form>
                    
                </div>
            <%}%>

            



<!--text input section-->
            <div class="card-body">
                <form action="/" method="post">
                    <div class="listInput">
                        <input type="text" class="card-text inputField" name="InputField" placeholder="Enter the task" required>
                        <button type="submit"  class="bg-transparent submit-textinput" style="outline: none; border: none;" ><img src="/Resources/images/add.png" alt="add image" id="addimg"></button> 

                    </div>
                    
                </form>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    
    <script src="/Resources/script.js"></script>
</body>
</html>